<tbody>
    <tr>
        <td>
            <%= teacher.firstName %>
        </td>
        <td>
            <%= teacher.lastName %>
        </td>
        <td>
            <%= teacher.phoneNumber %>
        </td>
        <td>
            <%= teacher.inss %>
        </td>
        <td>
            <%= teacher.email %>
        </td>
        <td>
            <%= teacher.address %>
        </td>
        <td>
            <form action="<%= teacher.editPath %>" method="get">
                <button id="EditTeachersButton" type="submit" class="btn btn-outline-primary">Edit</button>
            </form>
        </td>
        <td>
            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal<%= teacher.id %>"
                class="badge bg-secondary-outline rounded-pill">Remove</button>
        </td>
    </tr>
</tbody>

<!--DeleteModal-->
<div class="modal fade" id="deleteModal<%= teacher.id %>" tabindex="-1" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Warning</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span style="margin-bottom: 100px;">
                    Do you really want to delete
                    <%='"' + teacher.firstName + " " +  teacher.lastName + '"'%> from the list?
                </span>
                <p></p>
                <form action="<%= teacher.deletePath %>" role="form" method="POST">
                    <input class="form-control input-lg" name="filename" style="display: none;"
                        value="<%= teacher.firstName %>">
                    <input class="form-control input-lg" name="id" style="display: none;" value="<%= teacher.id %>">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>